From here: 
    
    
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [26]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 700, 'San Francisco': 1100,
     'Austin': 750, 'Boston': None}
cities = pd.Series(d)
cities

Austin            750
Boston            NaN
Chicago          1000
New York         1300
Portland          700
San Francisco    1100
dtype: float64

In [28]:
# Only works for single values
x = cities["Chicago"]
print x
print type(x)

1000.0
<type 'numpy.float64'>

In [10]:
# Can expand to more than 1 value: 
# cities[["Chicago","Boston",...]]
 
y = cities[["Chicago"]]
print y
print type(y)

Chicago    1000
dtype: float64
<class 'pandas.core.series.Series'>

In [15]:
"Seattle" in cities

False

In [14]:
"Portland" in cities

True

In [29]:
x = cities / 3
print x

Austin           250.000000
Boston                  NaN
Chicago          333.333333
New York         433.333333
Portland         233.333333
San Francisco    366.666667
dtype: float64

In [30]:
print type(x)

<class 'pandas.core.series.Series'>

In [21]:
sum(cities)

nan

In [22]:
np.sum(cities)

4750.0

In [31]:
cities ** 2

Austin            562500
Boston               NaN
Chicago          1000000
New York         1690000
Portland          490000
San Francisco    1210000
dtype: float64